<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title> adding locations </title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> gromt </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        viewing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="/event/show"> events </a>
                        <a class="dropdown-item" href="/location/show"> locations </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        adding
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="/event/add"> events </a>
                        <a class="dropdown-item" href="/location/add"> locations </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        editing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/event/editingPage"> events </a>
                        <a class="dropdown-item" href="/location/show"> locations </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">

    <h3> adding location </h3>
    <form th:fragment="location" method="post" th:action="@{/location/add}" th:object="${location}">
        <div class="form-group">
            <label for="locationCountry"> location country </label>
            <input th:field="*{locationCountry}" type="text" class="form-control" id="locationCountry" placeholder=" location country here ">
        </div>
        <div class="form-group">
            <label for="locationCity"> location city </label>
            <input th:field="*{locationCity}" type="text" class="form-control" id="locationCity" placeholder=" location city here ">
        </div>

        <button type="submit" class="btn btn-primary"> add </button>
    </form>
</div>

</body>
</html>