<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head(~{::title})">
    <title> add event </title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> gromt </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>
<div class="container">
    <h3> adding event </h3>
    <form th:fragment="event" method="post" th:action="@{/event/add}" th:object="${event}">
        <div class="form-group">
            <label for="eventTitle"> event title </label>
            <input th:field="*{eventTitle}" type="text" class="form-control" id="eventTitle" placeholder="event title here">
        </div>
        <div class="form-group">
            <label for="eventLocation"> event location </label>
            <input th:field="*{eventLocation}" type="text" class="form-control" id="eventLocation" placeholder="event location here">
        </div>
        <div class="form-group">
            <label for="eventDate"> event date </label>
            <input th:field="*{eventDate}" type="date" class="form-control" id="eventDate" placeholder="event date here">
        </div>
        <button type="submit" class="btn btn-primary"> add </button>
    </form>
</div>
<div class="container">
    <form th:fragment="event" method="get" th:action="@{/events}" th:object="${event}">
        <button type="submit" class="btn btn-primary"> back to events</button>
    </form>
</div>


</body>
</html>