<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head(~{::title})">
    <title> events </title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> gromt </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        viewing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="/event/show"> events </a>
                        <a class="dropdown-item" href="/location/show"> locations </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        adding
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="/event/add"> events </a>
                        <a class="dropdown-item" href="/location/add"> locations </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        editing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/event/editingPage"> events </a>
                        <a class="dropdown-item" href="/location/show"> locations </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <h3> events </h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">event title</th>
            <th scope="col">event location</th>
            <th scope="col">event date</th>
            <th scope="col"> editing </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event, state : ${edit_event}">
            <th scope="row" th:utext="${state.count}"></th>
            <td th:utext="${event.eventTitle}"></td>
            <td th:utext="${event.eventLocation}"></td>
            <td th:utext="${event.eventDate}"></td>
            <td>
                <form th:fragment="event" method="post" th:action="@{/event/delete}" th:object="${event}">
                    <button type="submit" class="btn btn-primary"> delete </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>