<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title> gromt </title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> gromt </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        adding
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/event/add"> events </a>
                        <a class="dropdown-item" href="/location/add"> locations </a>
                    </div>
    </nav>
</header>
<div class="container">
    <form th:fragment="index" method="get" th:action="@{/view}" th:object="${view}">
        <button type="submit" class="btn btn-primary"> viewing</button>
    </form>
    <form th:fragment="index" method="get" th:action="@{/add}" th:object="${view}">
        <button type="submit" class="btn btn-primary"> adding</button>
    </form>
    <form th:fragment="index" method="get" th:action="@{/edit}" th:object="${view}">
        <button type="submit" class="btn btn-primary"> editing</button>
    </form>
</div>
</body>
</html>