<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Добавление события</title>
</head>
<body>
<th:block th:insert="index::header"></th:block>

<div class="container">
    <h3>Добавление события</h3>
    <form th:fragment="event" method="post" th:action="@{/event/add}" th:object="${event}">
        <div class="form-group">
            <label for="eventTitle">Название события</label>
            <input th:field="*{eventTitle}" type="text" class="form-control" id="eventTitle" placeholder="Введите название">
        </div>
        <div class="form-group">
            <label for="eventDescription">Описание события</label>
            <textarea th:field="*{eventDescription}"  class="form-control" id="eventDescription" placeholder="Введите описание события"></textarea>
        </div>
        <div class="form-group">
            <label for="dateStart">Дата начала события</label>
            <input th:field="*{dateStart}" type="datetime-local" class="form-control" id="dateStart" placeholder="Введите дату">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>

</body>
</html>