<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head(~{::title})">
    <title>Добавление фигни</title>
</head>
<body>
<th:block th:insert="index::header"></th:block>

<div class="container">
    <h3>Добавление фигни</h3>
    <form th:fragment="university" method="post" th:action="@{/university/add}" th:object="${university}">
        <div class="form-group">
            <label for="universityName">Название фигни</label>
            <input th:field="*{universityName}" type="text" class="form-control" id="universityName" aria-describedby="name" placeholder="Введите название">
            <small id="name" class="form-text text-muted">Университет, студенты которого могут регистрироваться на события</small>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>


</body>
</html>